# 1. Ignore everything in the root directory by default
/*

# 2. Unignore (whitelist) the specific folders you want to push
!/analysis
!/exhibits

# Unignore loss calculation
!/loss calculation/

# 3. Unignore the .gitignore file itself so it is tracked
!/.gitignore

# 4. Global ignores (Apply even inside the allowed folders)
# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore macOS metadata
__MACOSX/
.DS_Store

# Ignore large local datasets
/analysis/liquidity-orderbook-viewer/datasets/

